.mq-editable-field {
    color: black;
    background-color: white;
    width: 96%;
    padding: 3% 0 3% 1%;
}

.mq-focused {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
}

.function-field-container {
    border: black 1px solid;
    position: relative;
    padding: 5px;
}

.field-delete {
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 1% 3%;
}
